<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: main-header('Home')" />

</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />

<h1>Navigate NASA APIs</h1>

<div class="jumbotron">
    <h2>Picture of the day: </h2>
    <p class="lead">This api does this</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="jumbotron">
    <h2>Search for a date: </h2>
    <p class="lead">This api does this</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<div class="jumbotron">
    <h2>Weather on Mars: </h2>
    <p class="lead">This api does this</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>



<th:block th:replace="fragments/scripts :: scripts" />
</body>
</html>